/* Light mode */
:root {
    --bg-color: #ffffff;
    --text-color: #333333;
}

/* Dark mode */
[data-theme="dark"] {
    --bg-color: #333333;
    --text-color: #ffffff;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
}